<div class="header-container">
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Disabled</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="container">
  <header>
    <h1>Analyze your text here!</h1>
    <p>Enter your text and we count the vowels or consonants of it by character</p>
  </header>
  <textarea class="textbox" [(ngModel)]="userInput" placeholder="Enter your text here"></textarea><br/>
  <div class="mode">
    <label>Offline / Online</label>
<label class="switch">
  <input type="checkbox" (change)="toggleMode()">
  <span class="slider round"></span>
</label>
  </div>
  <div class="button-group">
    <button (click)="analyzeText('consonants')">Count Consonants</button>
    <button (click)="analyzeText('vowels')">Count Vowels</button>
  </div>
  <div class="results">
    <h2>Results</h2><br/>
    <div *ngFor="let history of resultHistory">
      <div class="result-item">
        <h3>{{ history.mode }} Analysis</h3><br/>
        <p *ngFor="let result of history.results">
          <span class="result-char">{{ result.char }}:</span> 
          <span class="result-count">{{ result.count }}</span>
        </p>
      </div>
    </div>
  </div>
</div>

<footer>
  <p>2024 &#169; All rights reserved</p>
</footer>
